﻿@inherits LayoutComponentBase

<PageTitle>NumerosPrimos</PageTitle>

<div class="page">
    <main>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-dark" asp-area="" asp-page="/Index">Numeros Primos App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-muted" target="_blank" href="https://gitlab.com/jmarascutti/numerosprimosapp"><iconify-icon icon="bi:database-fill-down"></iconify-icon>  Repositorio</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
