﻿@page "/"
@using NumerosPrimos.Data;
@inject NumerosPrimosService NumerosPrimosService

<PageTitle>Verificador de números primos</PageTitle>

<div class="container">
    <div class="shadow-lg p-5 mb-5 bg-light rounded">
        <div>
            <div class="display-6 p-1 text-center text-dark"><iconify-icon icon="material-symbols:check-circle-rounded" style="color: #0f5132;"></iconify-icon> Verificador de números primos</div>
            <div class="alert alert-success mt-4 text-center" role="alert">
                Para determinar si un número es primo o no, ingrese un número a continuación.
            </div>

            <EditForm Model="@Numero" OnValidSubmit="CalcularNumero">
                <label class="form-label text-left">Número:</label>
                <InputText class="form-control" @bind-Value="Numero.Number" placeholder="Ejemplo: 5" @onfocus="OcultarAlert" />
                <ValidationSummary></ValidationSummary>

                <DataAnnotationsValidator />

                <div class="mb-3 mt-4 text-center">
                    <button type="submit" class="btn btn-success "> <iconify-icon class="mt-1" icon="ic:baseline-search" width="15" height="15"></iconify-icon> Verificar</button>
                    <button class="btn btn-primary" @onfocus="() => LimpiarCampo()"><iconify-icon class="mt-1" icon="tabler:reload"></iconify-icon> Limpiar</button>
                </div>
            </EditForm>
            @if (_mostrarAlert)
            {                
                @if (_esPrimo == true)
                {
                    <div class="alert alert-primary text-center mt-4"  role="alert">
                        El número ingresado (@Numero.Number) <strong>es primo</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-primary text-center mt-4"  role="alert">
                        El número ingresado (@Numero.Number) <strong>no es primo</strong>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {

    NumeroPrimo Numero = new NumeroPrimo();
    bool _esPrimo;
    bool _mostrarAlert = false;

    public async Task CalcularNumero()
    {

        _esPrimo = NumerosPrimosService.VerificarNumero(Numero.Number);
        _mostrarAlert = true;

    }

    public async Task LimpiarValidacion()
    {

        NumeroPrimo Numero = new NumeroPrimo();

    }

    public async Task LimpiarCampo()
    {
        Numero = new NumeroPrimo();
        OcultarAlert();
    }

    public async Task OcultarAlert()
    {
        _mostrarAlert = false;
    }

}
